
{% extends "base.html" %}
{% load static %}

{% block content %}


<h3>Olá, {{user.aluno.nome}} do curso {{user.aluno.curso.nome}}</h3>

<img src="/media/{{user.aluno.foto}}">


<!-- <img src="{% static "me.jpg" %}" alt=""> -->

<!-- <h3>Você vai cursar essas disciplinas:</h3>
<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">

<table>
  <tr>
      <th>Disciplinas</th>
      <th>Mensagem</th>
  </tr>
  {% for disciplina in disciplinas %}
    <tr>
      <td>{{disciplina}}</td>

      {% if disciplina == 'TG' %}
          <td> LASCOU</td>
      {% else %}
         <td> OK</td>
      {% endif %}

    </tr>
  {% endfor %}
</table> -->

<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'logout' %}" >
    <button type="button" class="btn btn-secondary btn-lg" >Sair</button>
  </a>
  <a href="{% url 'alunos' %}" >
    <button href="{% url 'alunos' %}" type="button" class="btn btn-secondary btn-lg">Ver colegas</button>
  </a>
</div>


{% endblock content %}
