{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='row'>
<h3>Bem vindo!</h3>
</div>

<div class='row'>
<img src="{% static "logo_Cin.png" %}" width="200" height="200" alt="">
</div>

<div class='row'>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'login' %}" >
      <button type="button" class="btn btn-secondary btn-md" >Sign in</button>
    </a>
    <a href="{% url 'signup' %}" >
      <button href="{% url 'alunos' %}" type="button" class="btn btn-secondary btn-md">Sign up</button>
    </a>
  </div>
</div>

{% endblock content %}
