
{% extends "base.html" %}
{% load static %}

{% block content %}


<h3>Olá, {{user.aluno.nome}} do curso {{user.aluno.curso.nome}}</h3>

<img src="{% static "me.jpg" %}" alt="">

<h3>Você vai cursar essas disciplinas:</h3>
<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">

<table>
  <tr>
      <th>Disciplinas</th>
      <th>Mensagem</th>
  </tr>
  {% for disciplina in disciplinas %}
    <tr>
      <td>{{disciplina}}</td>

      {% if disciplina == 'TG' %}
          <td> LASCOU</td>
      {% else %}
         <td> OK</td>
      {% endif %}

    </tr>
  {% endfor %}
</table>

<h3><a href="{% url 'logout' %}">sair</h3>


{% endblock content %}
